@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply text-slate-600;
}

.app {
  grid-template-rows: auto 1fr auto;
}

.education,
.experience {
  display: grid;
  grid-template-columns: 1fr;
}

.projectCaurosel {
  flex-basis: 20em;
  flex-grow: 1;
}

.projectDetails {
  flex-grow: 9999;
}

.technology .techName {
  @apply hidden font-bold transition-all duration-500 ease-in;
}

.technology:hover .techName {
  @apply block absolute bottom-[-1.3em] left-1/2 translate-x-[-50%] whitespace-nowrap;
}

.formDiv i::before {
  @apply top-1/2 translate-x-[-50%];
}

.skills {
  @apply grid w-full grid-cols-1 sm:grid-cols-2;
}

.vertical-timeline-element-content {
  @apply !bg-white dark:!bg-neutral-700;
}

.school .vertical-timeline-element-content {
  @apply !bg-white dark:!bg-neutral-800;
}

@media screen and (min-width: 640px) {
  .education,
  .experience {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  }
}
